@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/segoeui.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "DS Yermak_D";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dsyermak_d.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Calligraph TYGRA";
  src: url("../fonts/calligraphtygra.ttf");
}

@font-face {
  font-family: "Triod Postnaja";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/triod-postnaja.woff2") format("woff2");
  font-display: swap;
}
